<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionEntity"
         connectionString="Server=OBSIDIANGTX1070; Initial Catalog=Databases2_Entity;
                           Integrated Security=true;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>